<a href="https://colab.research.google.com/github/Bageshri123/Bageshri-Portfolio/blob/main/Getting_data_from_sources.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Skills Covered**

Getting data from a range of sources

**Exercise:Upload a CSV file to your own Github account and write Python code to load it into a dataframe.**



1.   I downloaded the CSV file from given link and saved it in a folder called 'Data Sets' on my laptop.
2.In my GIthub repository, I clicked on 'Add File' and then 'Upload Files'. I dragged the 'Data sets' folder stored on laptop and dropped in the repository and clicked on 'Commit Changes' to save the folder there.
3.I then opened the Data Sets folder in my Github repository. Then clicked to select the file housing_in_london_yearly_variables.csv. 
4.Clicked on the 'raw' and copied the url for the raw version of dataset.
5. I have used this url in the below code in order create a dataframe from this csv file.

In [ ]:
import pandas as pd
url="https://raw.githubusercontent.com/Bageshri123/Data-Science---Python/main/Data%20Sets/housing_in_london_yearly_variables.csv"
df=pd.read_csv(url)
df

           code                  area  ... no_of_houses  borough_flag
0     E09000001        city of london  ...          NaN             1
1     E09000002  barking and dagenham  ...          NaN             1
2     E09000003                barnet  ...          NaN             1
3     E09000004                bexley  ...          NaN             1
4     E09000005                 brent  ...          NaN             1
...         ...                   ...  ...          ...           ...
1066  K03000001         great britain  ...          NaN             0
1067  K04000001     england and wales  ...          NaN             0
1068  N92000002      northern ireland  ...          NaN             0
1069  S92000003              scotland  ...          NaN             0
1070  W92000004                 wales  ...          NaN             0

[1071 rows x 12 columns]

Retrieving data from a web page

In [1]:
import pandas as pd
datatables = pd.read_html('https://en.wikipedia.org/wiki/Glasgow#Climate')
print("No of tables in the list:",len(datatables))
df = datatables[1]  #Glasgow population data
df

No of tables in the list: 25

  The coat of arms of the City of Glasgow          The coat of arms of the City of Glasgow.1
0                                     NaN                                                NaN
1                                 Adopted                                               1866
2                                   Crest                                        Saint Mungo
3                              Supporters                          Two salmon, bearing rings
4                                   Motto  Let Glasgow Flourish by the preaching of Your ...

Getting data from a csv file hosted on Github.com

In [2]:
import pandas as pd
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/Paisley-Weather-Data.csv"
df = pd.read_csv(url)
df

     yyyy  mm tmax (degC)  ... rain (mm) sun (hours)       status
0    1959   1           4  ...      40.9        54.1          NaN
1    1959   2         6.6  ...      41.8        17.8          NaN
2    1959   3        10.6  ...      50.9        85.7          NaN
3    1959   4          13  ...      76.3       125.1          NaN
4    1959   5        18.1  ...        24         222          NaN
..    ...  ..         ...  ...       ...         ...          ...
741  2020  10       12.9*  ...    185.3*       76.8*  Provisional
742  2020  11       10.6*  ...    142.4*       29.3*  Provisional
743  2020  12        6.9*  ...    131.0*       31.6*  Provisional
744  2021   1        4.9*  ...    132.2*       51.0*  Provisional
745  2021   2        7.0*  ...    144.3*       58.8*  Provisional

[746 rows x 8 columns]

Getting data from an Excel file hosted on Github.com

In [3]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
df = pd.read_excel(url,sheet_name="Industry Migration")
df

     country_code          country_name  ... net_per_10K_2018 net_per_10K_2019
0              ae  United Arab Emirates  ...            68.51            49.55
1              ae  United Arab Emirates  ...           149.57           182.22
2              ae  United Arab Emirates  ...           409.18           407.41
3              ae  United Arab Emirates  ...           236.69           188.07
4              ae  United Arab Emirates  ...           852.39           519.40
...           ...                   ...  ...              ...              ...
5290           zw              Zimbabwe  ...            70.60           -18.30
5291           zw              Zimbabwe  ...          -234.59          -304.36
5292           zw              Zimbabwe  ...           311.03           -55.88
5293           zw              Zimbabwe  ...          -108.16          -213.82
5294           zw              Zimbabwe  ...           -39.32           -92.51

[5295 rows x 13 columns]

Getting data from an API which delivers the data in JSON format

In [4]:
import pandas as pd
import requests

url = "https://api.carbonintensity.org.uk/regional"
json_data = requests.get(url).json()['data']
print(json_data)
data_table = json_data[0]
print("\n",data_table)
df = pd.json_normalize(data_table['regions'])
df

[{'from': '2021-06-21T20:00Z', 'to': '2021-06-21T20:30Z', 'regions': [{'regionid': 1, 'dnoregion': 'Scottish Hydro Electric Power Distribution', 'shortname': 'North Scotland', 'intensity': {'forecast': 0, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 0}, {'fuel': 'nuclear', 'perc': 0.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 14.7}, {'fuel': 'solar', 'perc': 0}, {'fuel': 'wind', 'perc': 85.2}]}, {'regionid': 2, 'dnoregion': 'SP Distribution', 'shortname': 'South Scotland', 'intensity': {'forecast': 30, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 4.2}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 6.2}, {'fuel': 'nuclear', 'perc': 70.9}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.3}, {'fuel': 'solar', 'perc': 0.3}, {'fuel': 'wind', 'perc': 18.1}]}, {'regionid': 3, 'dnoregion': 'Electricity North West', 'shortname': 'North West England', 'intensity': {'forecast': 135, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 14.7}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 29.7}, {'fuel': 'nuclear', 'perc': 45.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.1}, {'fuel': 'wind', 'perc': 10.1}]}, {'regionid': 4, 'dnoregion': 'NPG North East', 'shortname': 'North East England', 'intensity': {'forecast': 137, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 33.1}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 24.7}, {'fuel': 'nuclear', 'perc': 32.5}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.2}, {'fuel': 'wind', 'perc': 9.5}]}, {'regionid': 5, 'dnoregion': 'NPG Yorkshire', 'shortname': 'Yorkshire', 'intensity': {'forecast': 240, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 30.3}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 51.7}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.1}, {'fuel': 'wind', 'perc': 17.9}]}, {'regionid': 6, 'dnoregion': 'SP Manweb', 'shortname': 'North Wales & Merseyside', 'intensity': {'forecast': 194, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 3.8}, {'fuel': 'coal', 'perc': 0.4}, {'fuel': 'imports', 'perc': 1.4}, {'fuel': 'gas', 'perc': 47}, {'fuel': 'nuclear', 'perc': 20.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 6.1}, {'fuel': 'solar', 'perc': 0.6}, {'fuel': 'wind', 'perc': 20.4}]}, {'regionid': 7, 'dnoregion': 'WPD South Wales', 'shortname': 'South Wales', 'intensity': {'forecast': 360, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 91.3}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.2}, {'fuel': 'wind', 'perc': 8.5}]}, {'regionid': 8, 'dnoregion': 'WPD West Midlands', 'shortname': 'West Midlands', 'intensity': {'forecast': 282, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 2.3}, {'fuel': 'coal', 'perc': 2.6}, {'fuel': 'imports', 'perc': 9.4}, {'fuel': 'gas', 'perc': 64}, {'fuel': 'nuclear', 'perc': 3.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.3}, {'fuel': 'wind', 'perc': 18.4}]}, {'regionid': 9, 'dnoregion': 'WPD East Midlands', 'shortname': 'East Midlands', 'intensity': {'forecast': 298, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 3.7}, {'fuel': 'coal', 'perc': 5.2}, {'fuel': 'imports', 'perc': 1.6}, {'fuel': 'gas', 'perc': 62.1}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.2}, {'fuel': 'wind', 'perc': 27.2}]}, {'regionid': 10, 'dnoregion': 'UKPN East', 'shortname': 'East England', 'intensity': {'forecast': 98, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 10.5}, {'fuel': 'gas', 'perc': 24.1}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.3}, {'fuel': 'wind', 'perc': 65.1}]}, {'regionid': 11, 'dnoregion': 'WPD South West', 'shortname': 'South West England', 'intensity': {'forecast': 201, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 51.1}, {'fuel': 'nuclear', 'perc': 45.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.7}, {'fuel': 'wind', 'perc': 2.9}]}, {'regionid': 12, 'dnoregion': 'SSE South', 'shortname': 'South England', 'intensity': {'forecast': 190, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.3}, {'fuel': 'coal', 'perc': 0.5}, {'fuel': 'imports', 'perc': 35.6}, {'fuel': 'gas', 'perc': 44.3}, {'fuel': 'nuclear', 'perc': 6.5}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 0.5}, {'fuel': 'wind', 'perc': 12.3}]}, {'regionid': 13, 'dnoregion': 'UKPN London', 'shortname': 'London', 'intensity': {'forecast': 62, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 61.1}, {'fuel': 'gas', 'perc': 11.1}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 0.1}, {'fuel': 'wind', 'perc': 27.5}]}, {'regionid': 14, 'dnoregion': 'UKPN South East', 'shortname': 'South East England', 'intensity': {'forecast': 53, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 74.7}, {'fuel': 'gas', 'perc': 7.7}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 0.1}, {'fuel': 'wind', 'perc': 17.4}]}, {'regionid': 15, 'dnoregion': 'England', 'shortname': 'England', 'intensity': {'forecast': 188, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 8.7}, {'fuel': 'coal', 'perc': 0.9}, {'fuel': 'imports', 'perc': 18.7}, {'fuel': 'gas', 'perc': 38.4}, {'fuel': 'nuclear', 'perc': 11.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 0.2}, {'fuel': 'wind', 'perc': 21.2}]}, {'regionid': 16, 'dnoregion': 'Scotland', 'shortname': 'Scotland', 'intensity': {'forecast': 25, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 2.2}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 5.7}, {'fuel': 'nuclear', 'perc': 48.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 5}, {'fuel': 'solar', 'perc': 0.2}, {'fuel': 'wind', 'perc': 38.4}]}, {'regionid': 17, 'dnoregion': 'Wales', 'shortname': 'Wales', 'intensity': {'forecast': 306, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 77.6}, {'fuel': 'nuclear', 'perc': 1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 4.4}, {'fuel': 'solar', 'perc': 0.3}, {'fuel': 'wind', 'perc': 16.8}]}, {'regionid': 18, 'dnoregion': 'GB', 'shortname': 'GB', 'intensity': {'forecast': 178, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 7.4}, {'fuel': 'coal', 'perc': 0.8}, {'fuel': 'imports', 'perc': 15.5}, {'fuel': 'gas', 'perc': 38}, {'fuel': 'nuclear', 'perc': 14.5}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.9}, {'fuel': 'solar', 'perc': 0.2}, {'fuel': 'wind', 'perc': 22.6}]}]}]

 {'from': '2021-06-21T20:00Z', 'to': '2021-06-21T20:30Z', 'regions': [{'regionid': 1, 'dnoregion': 'Scottish Hydro Electric Power Distribution', 'shortname': 'North Scotland', 'intensity': {'forecast': 0, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 0}, {'fuel': 'nuclear', 'perc': 0.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 14.7}, {'fuel': 'solar', 'perc': 0}, {'fuel': 'wind', 'perc': 85.2}]}, {'regionid': 2, 'dnoregion': 'SP Distribution', 'shortname': 'South Scotland', 'intensity': {'forecast': 30, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 4.2}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 6.2}, {'fuel': 'nuclear', 'perc': 70.9}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.3}, {'fuel': 'solar', 'perc': 0.3}, {'fuel': 'wind', 'perc': 18.1}]}, {'regionid': 3, 'dnoregion': 'Electricity North West', 'shortname': 'North West England', 'intensity': {'forecast': 135, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 14.7}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 29.7}, {'fuel': 'nuclear', 'perc': 45.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.1}, {'fuel': 'wind', 'perc': 10.1}]}, {'regionid': 4, 'dnoregion': 'NPG North East', 'shortname': 'North East England', 'intensity': {'forecast': 137, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 33.1}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 24.7}, {'fuel': 'nuclear', 'perc': 32.5}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.2}, {'fuel': 'wind', 'perc': 9.5}]}, {'regionid': 5, 'dnoregion': 'NPG Yorkshire', 'shortname': 'Yorkshire', 'intensity': {'forecast': 240, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 30.3}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 51.7}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.1}, {'fuel': 'wind', 'perc': 17.9}]}, {'regionid': 6, 'dnoregion': 'SP Manweb', 'shortname': 'North Wales & Merseyside', 'intensity': {'forecast': 194, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 3.8}, {'fuel': 'coal', 'perc': 0.4}, {'fuel': 'imports', 'perc': 1.4}, {'fuel': 'gas', 'perc': 47}, {'fuel': 'nuclear', 'perc': 20.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 6.1}, {'fuel': 'solar', 'perc': 0.6}, {'fuel': 'wind', 'perc': 20.4}]}, {'regionid': 7, 'dnoregion': 'WPD South Wales', 'shortname': 'South Wales', 'intensity': {'forecast': 360, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 91.3}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.2}, {'fuel': 'wind', 'perc': 8.5}]}, {'regionid': 8, 'dnoregion': 'WPD West Midlands', 'shortname': 'West Midlands', 'intensity': {'forecast': 282, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 2.3}, {'fuel': 'coal', 'perc': 2.6}, {'fuel': 'imports', 'perc': 9.4}, {'fuel': 'gas', 'perc': 64}, {'fuel': 'nuclear', 'perc': 3.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.3}, {'fuel': 'wind', 'perc': 18.4}]}, {'regionid': 9, 'dnoregion': 'WPD East Midlands', 'shortname': 'East Midlands', 'intensity': {'forecast': 298, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 3.7}, {'fuel': 'coal', 'perc': 5.2}, {'fuel': 'imports', 'perc': 1.6}, {'fuel': 'gas', 'perc': 62.1}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.2}, {'fuel': 'wind', 'perc': 27.2}]}, {'regionid': 10, 'dnoregion': 'UKPN East', 'shortname': 'East England', 'intensity': {'forecast': 98, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 10.5}, {'fuel': 'gas', 'perc': 24.1}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.3}, {'fuel': 'wind', 'perc': 65.1}]}, {'regionid': 11, 'dnoregion': 'WPD South West', 'shortname': 'South West England', 'intensity': {'forecast': 201, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 51.1}, {'fuel': 'nuclear', 'perc': 45.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.7}, {'fuel': 'wind', 'perc': 2.9}]}, {'regionid': 12, 'dnoregion': 'SSE South', 'shortname': 'South England', 'intensity': {'forecast': 190, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.3}, {'fuel': 'coal', 'perc': 0.5}, {'fuel': 'imports', 'perc': 35.6}, {'fuel': 'gas', 'perc': 44.3}, {'fuel': 'nuclear', 'perc': 6.5}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 0.5}, {'fuel': 'wind', 'perc': 12.3}]}, {'regionid': 13, 'dnoregion': 'UKPN London', 'shortname': 'London', 'intensity': {'forecast': 62, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 61.1}, {'fuel': 'gas', 'perc': 11.1}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 0.1}, {'fuel': 'wind', 'perc': 27.5}]}, {'regionid': 14, 'dnoregion': 'UKPN South East', 'shortname': 'South East England', 'intensity': {'forecast': 53, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 74.7}, {'fuel': 'gas', 'perc': 7.7}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 0.1}, {'fuel': 'wind', 'perc': 17.4}]}, {'regionid': 15, 'dnoregion': 'England', 'shortname': 'England', 'intensity': {'forecast': 188, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 8.7}, {'fuel': 'coal', 'perc': 0.9}, {'fuel': 'imports', 'perc': 18.7}, {'fuel': 'gas', 'perc': 38.4}, {'fuel': 'nuclear', 'perc': 11.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 0.2}, {'fuel': 'wind', 'perc': 21.2}]}, {'regionid': 16, 'dnoregion': 'Scotland', 'shortname': 'Scotland', 'intensity': {'forecast': 25, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 2.2}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 5.7}, {'fuel': 'nuclear', 'perc': 48.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 5}, {'fuel': 'solar', 'perc': 0.2}, {'fuel': 'wind', 'perc': 38.4}]}, {'regionid': 17, 'dnoregion': 'Wales', 'shortname': 'Wales', 'intensity': {'forecast': 306, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 77.6}, {'fuel': 'nuclear', 'perc': 1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 4.4}, {'fuel': 'solar', 'perc': 0.3}, {'fuel': 'wind', 'perc': 16.8}]}, {'regionid': 18, 'dnoregion': 'GB', 'shortname': 'GB', 'intensity': {'forecast': 178, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 7.4}, {'fuel': 'coal', 'perc': 0.8}, {'fuel': 'imports', 'perc': 15.5}, {'fuel': 'gas', 'perc': 38}, {'fuel': 'nuclear', 'perc': 14.5}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.9}, {'fuel': 'solar', 'perc': 0.2}, {'fuel': 'wind', 'perc': 22.6}]}]}

    regionid  ... intensity.index
0          1  ...        very low
1          2  ...        very low
2          3  ...             low
3          4  ...             low
4          5  ...        moderate
5          6  ...        moderate
6          7  ...       very high
7          8  ...            high
8          9  ...            high
9         10  ...             low
10        11  ...        moderate
11        12  ...        moderate
12        13  ...             low
13        14  ...        very low
14        15  ...        moderate
15        16  ...        very low
16        17  ...            high
17        18  ...        moderate

[18 rows x 6 columns]